/* Base styles ------------ */
* {

    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font: 1em/1.5 "Quicksand", "Lato", sans-serif;
}

.container {
    width:85%;
    margin: 0;
    overflow: hidden;

}

/* styling the forms ------------ */
#signup-box,
#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px;
    border: 3px solid rgba(5,66,10,.1);
    box-shadow:0 5px 10px rgba(5, 66,10,.2);
    border-radius: 10px 20px;
    width: 40%;
    hsl(125, 86%, 14%);
}

#login-box {
    width: 28%;
    height: 70%;
}

#signup-box h1,
#login-box h1 {
    margin-bottom: 30px;
    color: hsl(125, 86%, 14%);
    text-shadow: 0 1px 1px rgba(0,0,0, 10)
    font-weight: 700;
    margin-top:0;
}

#signup-box p,
#login-box p {
    color: hsl(201, 23%, 34%);
    margin-bottom: 70px;
    font-size: 1.2em;
    font-weight: 500;
}

#signup-box input,
#login-box input {
    width: 80%;
    box-shadow: none;
    border: none;
    outline:none;
    border-bottom: 2px solid #999;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 1.1em;
}

#login-box input {
    width: 90%;
    margin-bottom: 50px;
}

#signup-box form div,
#login-box form div {
    position: relative;
}

#signup-box form div label,
#login-box form div label  {
    position: absolute;
    top: 10x;
    left:0;
    color:#999;
    pointer-events: none;
    transition: .5s;
    font-weight: 500;
}

#signup-box input:focus ~ label,
#signup-box input:valid ~ label,
#login-box input:focus ~ label,
#login-box input:valid ~ label {
    top: -39px;
    left: 0;
    color: hsl(125, 56%, 29%);
    font-size: 1em;
    font-weight: 500;
}

#signup-box #btn-signup,
#login-box #btn-login  {
    padding: 10px;
    background: hsl(125, 86%, 14%);;
    border-bottom: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    width: 50%;
 }

#login-box #btn-login  {
     margin-top:0;
 }

#login-form .display-one-line #btnForgotPassword {
    margin-top: -12px;
    margin-bottom: 40px;
}

#signup-box #btn-signup:hover,
#login-box #btn-login:hover {
     background: #53c0d6;
     color: #fff;
 }

#signup-box #btn-login,
#login-box #btn-signup,
#login-box #btnForgotPassword {
     padding: 10px 5px;
     border: none;
     background-color: inherit;
     cursor: pointer;
     color: hsl(125, 86%, 14%);;
     font-size: 1.2em;
     margin-top: 20px;
     margin-bottom: 10px;
     font-weight: 700;
     margin-right: 50px;
 }

#login-box #btn-signup,
#login-box #btnForgotPassword {
    width: 100%;
    margin-top: 0;
 }

 #signup-box #btn-login:hover,
 #login-box #btn-signup:hover ,
 #login-box #btnForgotPassword:hover {
     background-color:#e3f2fd;
     color: #2E8C9E;
     border-radius: 12px;
     width:70%;
 }
 #login-box #btn-signup:hover ,
 #login-box #btnForgotPassword:hover {
    width:100%;
 }

 #login-box #btn-login {
    width:70%;
 }
/*Displaying form fields in one line ------------ */

#signup-form .display-one-line,
#login-form .display-one-line {
    display: flex;
    width: 100%;
    margin-top: 20px;

}

#signup-form .float-left,
#login-form .float-left {
    width: 50%;
}

#signup-form .float-right,
#login-form .float-right {
    width: 50%;

}

