/* Base styles ------------ */
* {

    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font: 1em/1.5 "Quicksand", "Lato", sans-serif;
}

.container {
    width:85%;
    margin: 0;
    overflow: hidden;

}

/* styling the forms ------------ */
#signup-box,
#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px;
    border: 3px solid rgba(5,66,10,.1);
    box-shadow:0 5px 10px rgba(5, 66,10,.2);
    border-radius: 10px 20px;
    width: 40%;
    hsl(125, 86%, 14%);
}

#login-box {
    width: 28%;
    height: 70%;
}

#signup-box h1,
#login-box h1 {
    margin-bottom: 30px;
    color: hsl(125, 86%, 14%);
    text-shadow: 0 1px 1px rgba(0,0,0, 10)
    font-weight: 700;
    margin-top:0;
}

#signup-box p,
#login-box p {
    color: hsl(201, 23%, 34%);
    margin-bottom: 70px;
    font-size: 1.2em;
    font-weight: 500;
}

#signup-box input,
#login-box input {
    width: 80%;
    box-shadow: none;
    border: none;
    outline:none;
    border-bottom: 2px solid #999;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 1.1em;
}

#login-box input {
    width: 90%;
    margin-bottom: 50px;
}

#signup-box form div,
#login-box form div {
    position: relative;
}

#signup-box form div label,
#login-box form div label  {
    position: absolute;
    top: 10x;
    left:0;
    color:#999;
    pointer-events: none;
    transition: .5s;
    font-weight: 500;
}

#signup-box input:focus ~ label,
#signup-box input:valid ~ label,
#login-box input:focus ~ label,
#login-box input:valid ~ label {
    top: -39px;
    left: 0;
    color: hsl(125, 56%, 29%);
    font-size: 1em;
    font-weight: 500;
}

#signup-box #btn-signup,
#login-box #btn-login  {
    padding: 10px;
    background: hsl(125, 86%, 14%);;
    border-bottom: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    width: 50%;
 }

#login-box #btn-login  {
     margin-top:0;
 }

#login-form .display-one-line #btnForgotPassword {
    margin-top: -12px;
    margin-bottom: 40px;
}

#signup-box #btn-signup:hover,
#login-box #btn-login:hover {
     background: #53c0d6;
     color: #fff;
 }

#signup-box #btn-login,
#login-box #btn-signup,
#login-box #btnForgotPassword {
     padding: 10px 5px;
     border: none;
     background-color: inherit;
     cursor: pointer;
     color: hsl(125, 86%, 14%);;
     font-size: 1.2em;
     margin-top: 20px;
     margin-bottom: 10px;
     font-weight: 700;
     margin-right: 50px;
 }

#login-box #btn-signup,
#login-box #btnForgotPassword {
    width: 100%;
    margin-top: 0;
    color:hsl(122, 29%, 61%);
 }

 #signup-box #btn-login:hover,
 #login-box #btn-signup:hover ,
 #login-box #btnForgotPassword:hover {
     background-color:#e3f2fd;
     color: #2E8C9E;
     border-radius: 12px;
     width:70%;
 }
 #login-box #btn-signup:hover ,
 #login-box #btnForgotPassword:hover {
    width:100%;
 }

 #login-box #btn-login {
    width:70%;
 }
/*Displaying form fields in one line ------------ */

#signup-form .display-one-line,
#login-form .display-one-line {
    display: flex;
    width: 100%;
    margin-top: 20px;

}

#signup-form .float-left,
#login-form .float-left {
    width: 50%;
}

#signup-form .float-right,
#login-form .float-right {
    width: 50%;

}

.app-name {
    font-size: 1.35em;
    margin: 0;
    font-weight: 700;
}
.main-nav {
    margin-top: 5px;
}
.app-name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav a {
    font-size: .95em;
    font-weight: 700;
    color: #000
}
.main-nav a:hover {
    color: hsl(123, 35%, 51%);
}

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.app-name a {
      color: hsl(125, 86%, 14%);
      font-size: 30px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

#header {
    background-color: #fff;
    overflow-x: hidden;
    box-shadow: 0px -3px 15px 0px darkblue;
    border-top: #05400A 4px solid;
    border-bottom-right-radius: 10px;
  }
#banner {
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/codes.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
   background-color:pink;
   background-blend-mode: multiply;
}

#banner-inner h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

#banner-inner h2,
#banner-inner p {
    font-weight: lighter;
}

#banner-inner p {
    font-size: 20px;
}

.button {
    display: block;
    width: 150px;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 50px auto 0 auto;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #05400A;
    font-weight: bold;
}

.button:hover {
    background-color:#2F8132;
    border: 1px solid #2F8132;
}

div #meetups {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: hsl(122, 47%, 35%);
    margin-top: 12px;
    margin-bottom: 30px;
    font-weight: 700;
}

.col {
    padding: 1em;
    margin: 0 .5em .8em;
    background:#ffffff;
    border-radius: 15px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-top: 5px solid #fff;
}



.col p {
    font-size: .95em;
    margin: 0 0 1em 0;
    line-height: 1.9;
    text-align: justify;


}

.col h3 {
    color:#000;
    text-align: center;
}

.main-footer {
    background: hsl(122, 47%, 35%);
    padding: 2em 0;
    margin-top: 30px;
    text-align: center;
}
  @media (min-width: 769px) {
    .main-header,
    .row {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}

  @media (min-width: 769px) {

    .main-header,
    .main-nav,
    .row {
        display: flex;
    }

    .col {
        flex: 1;

        display: flex;
        flex-direction: column;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1025px) {

    .main-header,
    .row {
        flex-direction: row;
        justify-content: space-between;
    }

}
